.app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-green;
  flex-direction: column;
}

.app__header {
  font-family: "Nunito", sans-serif;
  font-family: "Wellfleet", cursive;
  color: $off-white;
  margin-bottom: 2rem;
  font-size: 3rem;
  animation: in-data 0.2s linear;
}

.app__header--toggled {
  @extend .app__header;
  display: none;
}

.app__upload-button {
  background-color: $dark-blue;
  color: $off-white;
  border: none;
  text-align: center;
  height: 3rem;
  width: 10rem;
  font-family: "Wellfleet", cursive;
  border-radius: 0.3rem;
  animation: in-data 0.2s linear;
  cursor: pointer;
}

.app__upload-button--toggled {
  @extend .app__upload-button;
  display: none;
}

.app__image-editor {
  width: 70rem;
  height: 50rem;
  background-color: $dark-blue;
  display: none;
  border-radius: 0.5rem;
}

.app__image-editor--toggled {
  @extend .app__image-editor;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: in-data 0.2s linear;
  justify-content: space-evenly;
  position: relative;
}

.app__image-editor__close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
  padding-right: 0.7rem;
  justify-self: flex-start;
  position: absolute;
  top: 0;
}

.app__image-editor__close__button {
  color: $off-white;
  margin: 0;
  cursor: pointer;
}

.app__image-editor__header {
  @extend .app__header;
  animation: none;
}

.app__image-editor__file-input {
  appearance: none;
}

@keyframes in-data {
  0% {
    opacity: 0;
    transform: scale(0.92);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: none;
  }
}
