.app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-green;
  flex-direction: column;
}

.app--toggled {
  @extend .app;
  flex-direction: row;
  @media screen and (max-width: 700px) {
    flex-direction: column;
    padding: 1rem 0;
    justify-content: unset;
  }
}

.app__header {
  font-family: "Nunito", sans-serif;
  font-family: "Wellfleet", cursive;
  color: $off-white;
  margin-bottom: 2rem;
  font-size: 3rem;
  animation: in-data 0.2s linear;
  @media screen and (max-width: 350px) {
    font-size: 1.5rem;
  }
}

.app__header--toggled {
  @extend .app__header;
  display: none;
}

.app__upload-button {
  background-color: $dark-blue;
  color: $off-white;
  border: none;
  text-align: center;
  height: 3rem;
  width: 10rem;
  font-family: "Wellfleet", cursive;
  border-radius: 0.3rem;
  animation: in-data 0.2s linear;
  cursor: pointer;
  @media screen and (max-width: 350px) {
    height: 2.5rem;
    width: 7rem;
    font-size: 0.7rem;
  }
}

.app__upload-button--toggled {
  @extend .app__upload-button;
  display: none;
}

@keyframes in-data {
  0% {
    opacity: 0;
    transform: scale(0.92);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: none;
  }
}
